h1{
    color:black;
    font-size: medium;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color: brown;
    font-size: small;
    font-weight: 200;
    font-family: monospace;
}